* { 
    margin: auto;
    padding: auto;
    color: white;
}
body { 
    z-index: 1;
    height: 4000px;
    background-color: rgb(26, 26, 26);
}
a { 
    text-decoration: none;
    color: white;
    
}

/* #more { 
    height: 4vw;
    width: 4vw;
    border-radius: 2vw;
    background-color: rgb(26, 26, 26);
    padding: 0.5vw 0.5vw;
    position: absolute;
    left: 93.1vw;
    top: 0.8vw;
    border: none;
}
#more img { 
    height: 1.6vw;
} */
/* header */
#header-container {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    width: 80vw;
    height: 7vh;
}
#header-setting-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 4vh;
}
#header-setting-container span {
    margin-left: 0;
    margin-right: 0;
    padding: 0.5vh 1.5vw;
    background-color: rgb(26, 26, 26);
    border-radius: 4vh;
}
#header-setting-container #logo {
    margin-right: auto;
    margin-left: 1.5vw;
    font-size: 2.5vh;
}
#header-setting-container .set {
    margin-left: 0vw;
    margin-right: 1.5vw;
    font-size: 2vh;
}
/* main page*/
#main-photo {
    width: 95vw;
    height: 90vh;
    background-image: url(../paintavto/photo/background.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 1vw;
    display: flex;
    align-items: flex-end;
}
#main-photo span { 
    margin: 0;
    background: none;
    width: 40vw;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
h1 , h3 { 
    background: none;
    width: 100%;
    font-size: 3.5vh;
    margin-left: 2vw;
}
h1 { 
    font-size: 4vw;
}
#main-photo div { 
    display: flex;
    background-color: rgb(26, 26, 26);
    border-radius: 0 1vw 0 1vw;
    width: auto;
    height: auto;
    padding: 2vh 0;
    margin-top: 2vh;
    margin-left: 0;
    margin-right: 0;
}
#main-photo div a { 
    background-color: black;
    padding: 1.5vh 6vw;
    border-radius: 7.5vw;
    font-size: 2.5vh;
}

/* main advantages */
#main-container { 
    display: flex;
    flex-direction: column;
    width: 95vw;
    height: auto;
}
#main-container h2 {
    padding: 2vh 1vw;
    background-color: black;
    border-radius: 2vw;
    font-size: 3.5vh;
    margin-bottom: 5.5vh;
    margin-top: 11vh;
}
#main-container a { 
    position: relative;
    bottom: 7vh;
}
#advantages { 
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}
#advantages span {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 23vw;
    height: 50vh;
    border-radius: 1.5vw;
    background-color: black;
}
#advantages span h4 { 
    font-size: 3vh;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 1vw;
    width: 100%;
    height: auto;
}
#advantages span p { 
    font-size: 2.5vh;
    margin-left: 1vw;
    width: 90%;
    height: auto;
}
#advantages img { 
    height: 27vh;
    width: 19vw;
    border-radius: 1.5vw;
    display: block;
}
.under h4 { 
    padding-top: 2.5vh;
    border-radius: 1.5vw;
}
.under p {
    margin-top: 2vh;
    margin-bottom: 3vh;
}
.under img { 
    margin-bottom: 3vh;
} 
.top img { 
    margin-bottom: 3vh;
    margin-top: 3vh;
}
.top p {
    margin-top: 2vh;
    margin-bottom: 3vh;
}

/* main services */

#services { 
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container-services {
    display: inline;
    width: 32%;
    height: auto;
    border-radius: 1vw;
    background-color: black;
    margin-bottom: 2vh;
}
.container-services h6 {
    font-size: 2.5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 1vw;
    text-align: center;
}
.container-services div {
    width: 90%;
    height: 20vh;
    padding: auto;
    margin-bottom: 2vh;
    display: flex;
    flex-flow: column wrap;
}
.container-services div img { 
    height: 20vh;
    width: 50%;
    margin: 0;
    border-radius: 1vw;
}
.container-services div span { 
    display: block;
    width: auto;
    font-size: 2.5vh;
    align-self: flex-start;
    margin: 0;
    margin-right: 2vw;
}
.container-services div p { 
    display: block;
    width: auto;
    font-size: 2.5vh;
    align-self: flex-start;
    margin: 0;
    margin-right: 2vw;
    margin-top: auto;
    margin-bottom: 2vh;
}
.container-services div button { 
    display: block;
    font-size: 2vh;
    padding: 1vh 1vw;
    border-radius: 1vw;
    align-self: flex-end;
    margin: 0;
    padding-top: auto;
    background-color: black;
}
#zapros { 
    width: 100%;
}
/* contacts */
#contacts { 
    width: 100%;
    height: auto;
}
iframe { 
    width: 60%;
    height: 75vh;
}


footer { 
    width: 100%;
    height: 20vw;
}
footer div{ 
    width: 95%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: flex-start;
}
footer div span { 
    height: 10vw;
    width: 20vw;
    border: 1px solid;
    margin: 0;
    font-size: 1.2vw;
    padding: 0 0.1vw;
}



.anketa { 
    width: 10%;
    height: 18vw;
    visibility: hidden;
}
